.shadow-inside {
  box-shadow: 0px 0px 2px 2px #0d6efd inset;
}

#showMessage {
  height: fit-content;
}

#activeUsers li {
  list-style: none;
}

.messBtn {
  margin-left: 2em;
}

.screens {
  height: 80%;
  margin: 6rem 0 5rem 0;
}

.input,
.output {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.output {
  height: 80%;
}

.input {
  height: 15%;
}

@media only screen and (max-width: 1000px) {
  #joinScreen,
  #chatScreen {
    height: 100vh;
  }
  .input,
  .output {
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
